.cart-container {
  width: min(92%, 75rem);
  margin: 0 auto;
}

.cart-items {
  margin: 2rem 0 3rem;
  min-height: 70vh;
}

.cart-items-title {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr repeat(4, 1fr);
  padding: 0.65rem 0;
  gap: 0.5rem;
  border-bottom: 1px solid #d4d4d4;
  font-size: clamp(0.85rem, 1.2vw, 0.95rem);
}

.cart-food-items {
  display: grid;
  grid-template-columns: 1fr 2fr repeat(4, 1fr);
  min-height: 4.5rem;
  align-items: center;
  margin-top: 0.8rem;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.food-img {
  width: 4rem;
  height: 3rem;
  border-radius: 0.2rem;
  overflow: hidden;
}

.food-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cross {
  cursor: pointer;
}

.unavailable-items {
  text-align: center;
  margin-top: 3rem;
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}

.quantity-box {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  width: fit-content;
}

@media (max-width: 900px) {
  .cart-items-title {
    display: none;
  }

  .cart-food-items {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem 1rem;
    padding: 0.9rem 0;
  }
}