.playstore{
    margin: 4rem 0rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.playstore h1{
    font-size: 3.9rem;
    font-weight: 600;
}
.playstore .playstore-icons{
    margin-top: 2rem;
    display: flex;
    gap:2rem
}